html{
    scroll-behavior: smooth;
}
.body{
    font-family: $main-font;
    background-color: rgb(44, 45, 50);
    &_white{
        background-color: white;
    }
    &_lock{
        overflow: hidden;
    }
}
.container{
    max-width: 1590px;
    padding: 0 clamp(0.625rem, -0.125rem + 4vw, 1.875rem);
    margin: 0 auto;
}
.hide{
    display: none;
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}