@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$main-font: "Montserrat";

$light-color: white;
$dark-color: black;
$muted-light-color: rgb(215, 213, 213);
$main-color: red;

$light-bg: white;
$dark-bg: black;
$muted-light-bg: rgb(215, 213, 213);
$main-bg: red;