.feedback{
    padding: 100px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 900px) {
           justify-content: center;
        }
    }
    &__content{
        flex: 0 1 auto;
        position: relative;
        overflow: hidden;
    }
    &__circle-text{
        width: 300px;
        height: 300px;
        position: absolute;
        left: 0;
        bottom:0;
        transform: translate(-25%, 70%);
        fill: rgb(255, 0, 0);
        letter-spacing: 3.5px;
    }
    &__head{
        margin-bottom: clamp(1.25rem, 0.446rem + 4.29vw, 3.125rem);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        @media (max-width:1100px) {
            flex-direction: column;
            align-items: start;
            justify-content: start;
        }
    }
    &__tabs{
        flex: 1 1 50%;
        position: relative;
        overflow: hidden;
        @media (max-width: 900px) {
            display: none;
        }
    }
}
.change-form{
    display: flex;
    gap: 20px;
    position: relative;
    &__title{
        color: white;
        font-size: 17px;
        cursor: pointer;
    }
    &__line{
        position: absolute;
        left: 0;
        bottom:-5px;
        height: 2px;
        width: 100%;
        background-color: red;
        transition: all .3s ease;
    }
}
.form-feedback{
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    max-width: 400px;
    &_first{
        position: relative;
        z-index: 2;
    }
    &_second{
        position: absolute;
        top:100%;
        z-index: 3;
        transition: top .5s ease;
        &_act{
            top:0;
        }
    }
    &__title{
        color: white;
        font-size: clamp(1.125rem, 0.404rem + 3.85vw, 1.438rem);
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__body{
        display: flex;
        flex-direction: column;
        gap:60px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__button{
        margin-top: auto;
        width: min(400px, 100%);
        border: 2px solid rgb(185, 185, 185);
        background-color: transparent;
        color: white;
    }
    &__calendar{
        width: min(398px, calc(100% - 4px));
        height: auto;
    }
    &__calendar-text-wrapper{
        position: relative;
    }
    &__calendar-text{
        color: rgb(185, 185, 185);
        font-size: 14px;
        padding: 0 3px;
        margin-bottom: 5px;
    }
    &__calendar-icon{
        position: absolute;
        right: -2px;
        top:50%;
        transform: translate(0,-50%);
        overflow: hidden;
        width: 30px;
        height: 100%;
        &::before{
            content: "\f06a";
            @include font-awesome;
            font-size: 16px;
            color: red;
            position: absolute;
            right: 0;
            top:50%;
            transform: translate(0, 50px);
            cursor: pointer;
            transition: transform .3s ease;
        }
        &.icon-error::before{
            transform: translate(0,-50%);
        }
    }
    &__error-clue{
        position: absolute;
        right: 0;
        top:100%;
        transform: translate(0, 0);
        width: 100%;
        height: 300%;
        pointer-events: none;
        z-index: 4;
        overflow: hidden;
        &.clue-error .form-feedback__error-clue-text{
            opacity: 1;
            transform: translate(0, 0);
        }
        
    }
    &__error-clue-text{
        position: absolute;
        right: 0;
        top: 10px;
        transform: translate(0, -50px);
        background-color: $muted-bg-color;
        color: white;
        display: block;
        padding: 5px 12px;
        opacity: 1;
        transition: all .3s ease;
    }
}
.input-container{
    display: flex;
    width: min(400px, 100%);
    height: 30px;
    gap: 10px;
    position: relative;
    &__icon{
        position: absolute;
        right: 0;
        top:50%;
        transform: translate(0,-50%);
        overflow: hidden;
        width: 30px;
        height: 100%;
        &::before{
            content: "\f06a";
            @include font-awesome;
            font-size: 16px;
            color: red;
            position: absolute;
            right: 0;
            top:50%;
            transform: translate(0, 50px);
            cursor: pointer;
            transition: transform .3s ease;
        }
        &.icon-error::before{
            transform: translate(0,-50%);
        }
    }
    &__wrapper{
        flex: 1 1 100%;
        height: 100%;
        border-bottom: 2px solid rgb(185, 185, 185);
        position: relative;
        transition: border .3s ease;
        &.container-error{
            border-bottom: 2px solid red;
        }
    }
    &__input{
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: white;
        &:focus + .input-container__label, &:valid + .input-container__label{
            top: -1px;
            left: 10px;
            font-size: 12px;
        }
    }
    &__label{
        background-color: $bg-color;
        padding: 0 3px;
        color: rgb(185, 185, 185);
        position: absolute;
        top:50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 14px;
        transition: all .3s ease;
        z-index: 100;
    }
    &__error-clue{
        position: absolute;
        right: 0;
        top:100%;
        transform: translate(0, 0);
        width: 100%;
        height: 200%;
        pointer-events: none;
        z-index: 4;
        overflow: hidden;
        &.clue-error .input-container__error-clue-text{
            opacity: 1;
            transform: translate(0, 0);
        }
        
    }
    &__error-clue-text{
        position: absolute;
        right: 0;
        top: 10px;
        transform: translate(0, -50px);
        background-color: $muted-bg-color;
        color: white;
        display: block;
        padding: 5px 12px;
        opacity: 1;
        transition: all .3s ease;
    }
}
.textarrea-container{
    width: min(400px, 100%);
    height: 100px;
    border: 2px solid rgb(185, 185, 185);
    position: relative;
    &__textarrea{
        width: 100%;
        height: 100%;
        background-color: transparent;
        resize: none;
        color: white;
        padding-top: 7px;
        &:focus + .textarrea-container__label, &:valid + .textarrea-container__label{
            top: -8px;
            left: 10px;
            font-size: 12px;
        }
    }
    &__label{
        position: absolute;
        left: 2px;
        top:7px;
        background-color: $bg-color;
        padding: 0 3px;
        color: rgb(185, 185, 185);
        font-size: 14px;
        transition: all .3s ease;
    }
}
.date{
    display: none;
}
.air-datepicker{
    background: $bg-color !important;
    border: 2px solid rgb(185, 185, 185) !important;
    color: white !important;
    width: 100% !important;
    border-radius: 0 !important;
    .air-datepicker-nav{
        border-bottom: 2px solid rgb(185, 185, 185) !important;
    }
    .air-datepicker-body--day-name{
        color: $main-color;
    }
    .air-datepicker-cell.-day-.-other-month-{
        color: rgb(109, 109, 109);
    }
    .air-datepicker-cell.-selected-{
        background: $main-bg;
    }
    .air-datepicker-cell.-selected-.-focus-{
        background-color: $main-bg;
    }
    .air-datepicker-cell.-focus-{
        background-color: rgb(72, 72, 73);
    }
    .air-datepicker-cell.-current- {
        color: $main-color;
    }
    .air-datepicker-cell.-selected-.-current- {
        color: $light-color;
        background: $main-bg;
    }
    .air-datepicker-cell.-current-.-focus-{
        color: $light-color;
    }
    .air-datepicker-nav--action:hover {
        background: rgb(72, 72, 73);
    }
    .air-datepicker-nav--title:hover{
        background: rgb(72, 72, 73);
    }
}
.tab-feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 100%;
    overflow: hidden;
    &_act{
        height: 100%;
        .tab-feedback__title{
            transform: translateX(0);
            opacity: 1;
        }
        .tab-feedback__text{
            transform: translateX(0);
            opacity: 1;
        }
    }
    &__title{
        text-align: center;
        font-size: clamp(2.188rem, 1.679rem + 2.71vw, 4.375rem);
        letter-spacing: clamp(0.188rem, 0.013rem + 0.93vw, 0.938rem);
        text-transform: uppercase;
        color: $green-color;
        transition: all .5s ease;
        transform: translateX(-300px);
        opacity: 0;
    }
    &__text{
        text-align: center;
        font-size: clamp(1rem, 0.869rem + 0.7vw, 1.563rem);
        color: white;
        transition: all .5s ease;
        transform: translateX(300px);
        opacity: 0;
        transition-delay: .3s;
    }
}