.service{
    padding-top: 100px;
    &__list{
        display: grid;
        grid-template-columns: 12fr;
    }
    &__title{
        margin-bottom: 50px;
    }
}
.service-block{
    display: flex;
    height: 550px;
    &_reverse{
        flex-direction: row-reverse;
    }
    &__body{
        flex: 1 1 50%;
        background-color: #A52019;
        padding: 50px 50px 50px 70px;
        display: flex;
        flex-direction: column;
        @media (min-width:1650px) {
            padding: 50px;
        }
        &_orange{
            background-color: orange;
        }
        &_gray{
            background-color: rgb(73, 67, 54);
        }
        &_blue{
            background-color: rgb(18, 18, 128);
        }
        &_dark{
            background-color: rgb(2, 2, 19);
        }
        &_act{
            .service-block__content_first{
                height: 0;
            }
            .service-block__content_second{
                height: 100%;
            }
        }
    }
    &__head{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        &_second{
            margin-bottom: 10px;
        }
    }
    &__content{
        width: 100%;
        overflow: hidden;
        transition: all .5s ease;
        display: flex;
        flex-direction: column;
        &_first{
            height: 100%;
        }
        &_second{
            height: 0;
        }
    }
    &__title{
        flex: 1 1 auto;
        color: $light-color;
        font-size: 35px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    &__icon{
        flex: 0 0 40px;
        height: 40px;
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color .3s ease;
        &::before{
            content: "\f00d";
            @include font-awesome;
            color: white;
            font-size: 30px;
        }
        &:hover{
            background-color: rgba(139, 139, 139, 0.3);
        }
    }
    &__text{
        color: $light-color;
        &_second{
            margin-bottom: 20px;
        }
    }
    &__img{
        flex: 1 1 50%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__footer{
        margin-top: auto !important;
        display: flex;
        align-items: center;
    }
    &__button{
        margin-right: auto;
    }
    &__price{
        color: white;
        font-weight: 500;
        font-size: 20px;
    }
    &__price-num{
        font-size: 30px;
    }
    &__price-rub{
        font-size: 20px;
    }
    &__inputs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        .dropdown-select{
            width: 300px;
        }
    }
}